.border
{
    border: 5px solid black;
    background-color: aquamarine;
}
.header {
 border: 2px ;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-right: 40%;
 padding: 10px;

}
.header
>img{
    width: 200px;
    border-radius: 5px;
}
.card
{
    display: flex;
    width: 400px;
    border: 2px solid black;
    padding: 5px;
    margin: 30px;
    border-radius: 5px;

}
.card >img
{
    width: 100%;
    
}
.body
{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(212, 161, 95);
}
*{
background-color: light rgb(106, 106, 156);
}